<div class="main-section">
    <img src="../assets/imgs/RequestAccess.png" />
    
    <div class="content">
        <h4>re<span>Q</span></h4>
        <h1>Thank You! <br>We'll back to you soon.</h1>
        <p>Please check your email.</p>        
    </div>  
</div>
