@import '../../../styles.scss';

.main-section {
    text-align: center;
    
    h4 {
        color: $blue-color;
        font-weight: bold;
        margin-bottom: 27px;
        // font-size: 14px;

        span {
            color: $red-color;
        }
    }
    h1 {
        font-family: 'SF-Compact-Display-Bold';
        color: $red-color;
        font-size: 45px;
    }
    p {
        color: $grey-color; 
        padding-top: 10px;
        padding-bottom: 35px;
    }
    a {
        display: block;
        color: $light-grey;
        margin-top: 10px;        
        text-transform: uppercase;
        font-size: 13px;
        @include transition(0.5s);

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

/***responsive ***/
@media screen and (max-width:1280px) {
    img {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .main-section {
        h1 {
            font-size: 25px;
        }

        p {
            font-size: 12px;
        }
    }
    
}
@media screen and (max-width:480px) {
    .main-section {
        h1 {
            font-size: 20px;
        }
    }
    
}