<div class="main-section">
    <img src="../assets/imgs/RequestAccess.png" />
    
    <div class="content">
        <h4>re<span>Q</span></h4>
        <h1>Real Estate Investing Information <br>That Matters to You.</h1>
        <p>Limited to the San Francisco Bay Area - Join our BETA!</p>
        <button routerLink="{{'/signup'}}" class="common-btn">sign up with linkedIn</button>
        <a href="#">Sign In</a>
    </div>  
</div>