@import '../../../styles.scss';

.main-section {
    text-align: center;
    
    .form-div {
        width: 500px;
        margin: 60px auto;

        .input-form {
            width: 100%;
            border-top: 1px solid #8e9295;
            border-bottom: 1px solid #8e9295;
            padding: 45px 35px;
        }
        .input-ele {
            width: 100%;
            display: block;
            padding: 10px 0;

            label {
                display: block;
                text-align: left;
                text-transform: uppercase;
                color: $grey-color;
                font-size: 11px;
            }

            input {
                width: 100%;
                display: block;
                border: 1px solid #444c50;
                padding: 10px;
                height: 45px;
            }

            .form-control:disabled, 
            .form-control[readonly] {
                background-color: #444c50;
                opacity: 1;
                color: #ffff;
            }
        }
        .common-btn {
            margin-top: 30px;
            border-radius: 0px;
        }

    }
    
    p {
        color: $grey-color; 
        padding-top: 10px;
        padding-bottom: 15px;
    }
    a {
        display: block;
        color: $light-grey;
        margin-top: 10px;        
        text-transform: uppercase;
        font-size: 13px;
        @include transition(0.5s);

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

/***responsive ***/
@media screen and (max-width:768px) {
    .main-section {
        p {
            font-size: 12px;
        }
    }
    
}
@media screen and (max-width:480px) {
    .main-section {
        .form-div {
            width: 100%;
            margin: 10px auto;
        }
    }
    
}