<div class="main-section">
    <div class="form-div">
        <img src="./assets/imgs/search-icon.png">
        <p>
          Please confirm or edit your contact information, so that we can notify you when you are approved for our BETA.
        </p>
        <form class="form-inline" [formGroup]="form">
          <div class="input-form">
              <div class="input-ele">
                  <label for="inlineFormInputName2">Name</label>
                  <input type="text" class="form-control" formControlName="Name"  id="inlineFormInputName2" disabled>
              </div>
              <div class="input-ele">
                  <label for="inlineFormInputGroupUsername2">Email</label>
                  <div class="input-group">                    
                    <input type="text" formControlName="Email" class="form-control" id="inlineFormInputGroupUsername2" disabled>
                  </div>
              </div>
              <div class="input-ele">
                  <label for="inlineFormInputGroupUsername2">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" formControlName="Password"  id="inlineFormInputGroupUsername3">
                  </div>
              </div>         
          </div>
           
          <button type="submit" class="btn btn-primary mb-2 common-btn" (click)="submitForm()">Submit</button>
        </form>
    </div>
    
</div>

