/* You can add global styles to this file, and also import other style files */

$buildPath: '';
$serverPath: $buildPath;
@font-face {
    font-family: 'SF-Compact-Display-Bold';
    src: url('#{$serverPath}/assets/fonts/SF-Compact-Display-Bold.otf');
    src: url('#{$serverPath}/assets/fonts/SF-Compact-Display-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Compact-Display-Bold-Regular';
    src: url('#{$serverPath}/assets/fonts/SF-Compact-Display-Bold-Regular.otf');
    src: url('#{$serverPath}/assets/fonts/SF-Compact-Display-Bold-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

body {
    margin: 0px;
    padding: 0px;
    background: #fafafa;
    font-family: 'SF-Compact-Display-Bold-Regular';
    font-weight: normal;
    font-style: normal;
    color: #000;
    font-size: 13px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    /* Looks pretty much the same than Windows */
    text-rendering: optimizeLegibility;
}

span:focus {
    outline: none;
}
a,
a:focus,
a:visited,
button {
    text-decoration: none;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


/* Variables */

$assetPath: "#{$serverPath}/assets/images";

/* for colors */

$black-color: #131217;
$blue-color: #234e77;
$grey-color: #8e9295;
$light-grey: #e2e1e2;
$red-color: #ef4e49;

/* Variables End */


@mixin transition($sec) {
    -webkit-transition: all $sec ease;
    -moz-transition: all $sec ease;
    -o-transition: all $sec ease;
    transition: all $sec ease;
}

.common-btn {
    width: 200px;
    background: transparent;
    border: 2px solid #ef4e49;
    color: $red-color;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    @include transition(0.5s);
    font-size: 13px;
}
.common-btn:hover {
    background: #ef4e49;
    border: 2px solid #ef4e49;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;   
}